/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
.edit-mode-text{
	width: auto;
	height: 60px;
	background-color: black;
	color: white;
	text-align: center;
	font-size: 25px;
	align-content: center;
}

nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}
nav ul li a {
    text-decoration: none;
    color: inherit;
}
/* Selon la présentation de Figma, lorsque la page "login" est sélectionnée, 
	le menu « login » dans le bloc de navigation doit être mis en gras. */
nav ul li a.active {
    font-weight: bold;
}

li:hover {
	color: #B1663C;
	cursor: pointer;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}
.modify-wrapper {
    display: inline-flex;
    align-items: center;
    margin-left: 30px; /* Відступ від заголовка */
    font-size: 0.9rem; /* Розмір тексту */
    color: #333; /* Колір тексту */
	cursor: pointer;
	transition: color 0.3s ease;
}
.modify-wrapper:hover {
    color: #007bff; /* Зміна кольору при наведенні */
}

.modify-wrapper i {
    margin-right: 5px; /* Відступ між іконкою та текстом */
    color: #555; /* Колір іконки */
	transition: color 0.3s ease;
}

/* for a modal window */
.hidden {
    display: none !important;
}

.filters{
	display: flex;
	justify-content: center;
	text-align: center;
	height: 40px;
	margin : 2em auto ;	
}

.filters button{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 16px;
	color:#1D6154;
	min-width: 100px;
	height: 100%;
	text-align: center;
	border-radius: 60px ;
	border: 1px solid #1D6154;
	margin-right: 20px;
	padding: 0 10px 0 10px;
	cursor: pointer;
}
.filters button.active-button {
    background-color: #1D6154; /* Активний фон */
    color: #FFFFFF; /* Білий текст */
}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}
#contact {
	width: 50%;
margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

#page-login {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
    height: 800px;
    background-color: white;
}

#page-login h2 {
	margin-bottom: 30px;
}

#page-login form {
	display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    border-radius: 8px;
    width: 35%;
	height: 32%;
}

#page-login input {
    display: block;
	font-size: 1.2em;
	height: 30px;
    width: 95%;
    margin: 10px 0 35px 0px;
    padding: 8px;
	outline: none; 
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09); 
}

#page-login input:focus {
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.4); 
}

#page-login button {
	align-self: center;
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	height: 38px;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

#forgot-password {
    display: block;
    margin-top: 10px;
    color: #007BFF;
    text-decoration: none;
    cursor: pointer;
}
#forgot-password:hover {
    text-decoration: underline;
}
/* Footer */
footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

#gallery-modal {
	position: fixed;
	top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
	display: flex; /* Додаємо для центрування */
    align-items: center; /* Вертикальне центрування */
    justify-content: center; /* Горизонтальне центрування */
    background-color: rgba(0, 0, 0, 0.5); /* Зробити фон напівпрозорим чорним */
    z-index: 1000; /* Забезпечує, що модальне вікно поверх інши*/
}

.button-close {
	position: absolute; /* Абсолютне позиціонування кнопки */
	top: 10px; /* Відступ від верхнього краю */
	right: 10px; /* Відступ від правого краю */
	background: none; /* Прибираємо стандартний фон */
	border: none; /* Прибираємо рамки */
	font-size: 20px; /* Розмір іконки */
	cursor: pointer; /* Зміна курсору при наведенні */
  }

#gallery-modal p{
	text-align: center;
	font-family: "Work Sans";
	font-size: 26px;
    margin: 20px;
}
#gallery-modal .gallery-modal-block {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
    background-color: #fff;
	position: relative;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 630px; /* Ширина модального вікна */
	height: 688px;
}

.active {
	display: flex !important;
}

.gallery-modal-content {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: flex-start;
	margin-left: 60px;
	margin-right: 60px;
	/* flex-grow: 1; */
}

.image-wrapper {
    position: relative;
    display: inline-block;
    width: 77px;
    height: 102px;
    overflow: hidden;
    border-radius: 8px;
}

.image-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.delete-button {
    position: absolute;
    top: 5px;
    right: 5px;
	width: 17px;
	height: 17px;
    background: black;
    border: none;
	align-content: center;
    border-radius: 2px;
    padding: 0;
    cursor: pointer;
}

.delete-button i {
    color: white;
	font-size: 11px;
	margin-bottom: 5px;
}

hr {
	border: none; /* Забирає стандартну рамку */
	border-top: 2px solid #ccc; /* Верхня лінія */
	width: 67%; /* ��ирина широких ліній */
    margin-bottom: 20px; /* Відступ від кінця елемента */
	/* margin: 50px; Відступи зверху та знизу */
  }

#button-add-photo{
	align-self: center;
	font-family: 'Syne';
	font-weight: 700;
	font-size: 16px;
	align-items: center;
	margin-top: auto;
	width: 40%;
	height: 40px;
	text-align: center;
	border-radius: 60px ;
	border: 1px solid #1D6154;
	padding: 0 10px 0 10px;
	background-color: #1D6154; /* Активний фон */
    color: #FFFFFF; /* Білий текст */
	cursor: pointer;
}

/* Settings for a modal window with adding new photos */
#add-photo-modal{
	position: fixed;
	top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
	display: flex; /* Додаємо для центрування */
    align-items: center; /* Вертикальне центрування */
    justify-content: center; /* Горизонтальне центрування */
    background-color: rgba(0, 0, 0, 0.5); /* Зробити фон напівпрозорим чорним */
    z-index: 1000; /* Забезпечує, що модальне вікно поверх інши*/
}
.button-back {
	position: absolute; /* Абсолютне позиціонування кнопки */
	top: 10px; /* Відступ від верхнього краю */
	left: 10px; /* Відступ від правого краю */
	background: none; /* Прибираємо стандартний фон */
	border: none; /* Прибираємо рамки */
	font-size: 20px; /* Розмір іконки */
	cursor: pointer; /* Зміна курсору при наведенні */
}

.title-add-photo{
	text-align: center;
	font-family: "Work Sans";
	font-size: 26px;
    margin: 20px;
}

#add-photo-modal .add-photo-modal-block{
	display: flex;
	flex-direction: column;
	background-color: #fff;
	position: relative;
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	width: 630px;
	height: 688px;
}

.desc-image{
	font-style: "Work Sans";
	font-weight: 400;
	font-size: 10px;
    text-align: center;
    color: #444444;
}
  /* Кнопки закриття та повернення */
#add-photo-modal .button-back,
#add-photo-modal .button-close {
background: none;
border: none;
font-size: 18px;
cursor: pointer;
color: #333;
position: absolute;
top: 15px;
}
  
#add-photo-modal .button-back {
left: 15px;
}

#add-photo-modal .button-close {
right: 15px;
}

#add-photo-form{
	display: flex;
	flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: flex-start;
    margin-left: 60px;
    margin-right: 60px;
}
.photo-upload-block {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
border: 2px dashed #d9d9d9;
border-radius: 8px;
padding: 20px;
margin-bottom: 20px;
background-color: #E8F1F6;
}

.photo-upload-block .photo-preview {
margin-top: 10px;
display: none;
width: 100%;
height: auto;
}
.photo-upload-preview {
position: relative;
display: flex;
align-items: center;
justify-content: center;
width: 100%;
height: 150px;
border: 2px dashed #d9d9d9;
border-radius: 8px;
background-color: #E8F1F6;;
}
.photo-upload-preview img {
max-width: 100%;
max-height: 100%;
display: none; /* Початково приховане */
}
.photo-upload-preview img.active {
display: block; /* Показати зображення, якщо є клас .active */
}

.photo-upload-preview i {
font-size: 76px;
color: #B9C5CC;
}

.photo-upload-preview img.active ~ i {
display: none; /* Приховати іконку, коли зображення активне */
}

#add-photo-modal form label {
display: block;
margin-bottom: 5px;
font-size: 14px;
color: #555;
}
  
#add-photo-modal form input,
#add-photo-modal form select {
width: 100%;
padding: 10px;
margin-bottom: 20px;
border: 1px solid #d9d9d9;
border-radius: 6px;
font-size: 14px;
}
  

#open-photo-button{
	height: 38px;
	background-color: #B9C5CC;
	font-size: 14px;
	font-style: "Work Sans";
	font-weight: 500;
	color: #306685;
	border: none;
	border-radius: 50px;
	padding: 0 20px;
	cursor: pointer;

}
/* Кнопка відправки */
#button-new-photo{
	align-self: center;
	font-family: 'Syne';
	font-weight: 700;
	font-size: 16px;
	align-items: center;
	margin-top: auto;
	width: 40%;
	height: 40px;
	text-align: center;
	border-radius: 60px ;
	border: 1px solid #1D6154;
	padding: 0 10px 0 10px;
	background-color: #1D6154; /* Активний фон */
	color: #FFFFFF; /* Білий текст */
	cursor: pointer;
}